<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  
  <!-- google fonts -->
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400;500;600;700&family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap" rel="stylesheet">
  <title>Restourant Finder</title>
</head>
<body>
  <a href="#content" class="skip-link">Menuju ke konten</a>
  <header class="header">
      <div class="header-inner">
        <h1 class="header-title">
          Restaurant Finder
        </h1>
      </div>
      <button id="menu" class="header-menu">☰</button>
  </header>
  <nav id="drawer" class="nav">
    <ul class="nav-list">
      <li class="nav-item"><a href="#">Home</a></li>
      <li class="nav-item"><a href="#">Favorite</a></li>
      <li class="nav-item"><a href="#">About Us</a></li>
    </ul>
  </nav>
  <div class="hero">
    <div class="hero-inner">
      <h1 class="hero-title">Temukan Restourant Ternama</h1>
      <p class="hero-tagline">Lorem, ipsum dolor sit amet consectetur adipisicing elit. Aut iste explicabo vel!</p>
    </div>
  </div>
  <main>
    <section class="content" id="content">
      <div class="explore">
        <h1 class="explore-label">Explore Restaurant</h1>
        <div class="restaurants">
          <!-- <article class="restaurant-item">
            <div class="restaurant-item-city">
                <h3>Bandung</h3>
            </div>
            <img src="https://restaurant-api.dicoding.dev/images/medium/41" alt="" class="restaurant-item-thumnail">
            <div class="restaurant-item-content">
              <p class="restaurant-item-rating">Rating: 4.5</p>
              <h1 class="restaurant-item-title">
                <a href="">Lorem ipsum dolor sit amet.</a>
              </h1>
              <p class="restaurant-item-description">Lorem ipsum dolor sit amet consectetur adipisicing elit. Odit placeat dolores aperiam enim maxime, doloremque a cum labore repudiandae asperiores fugit necessitatibus consequatur delectus. Saepe temporibus eos molestias illum dicta porro voluptatem itaque assumenda consequatur necessitatibus, labore nobis non veniam.</p>
            </div>
          </article>        -->
        </div>
      </div>
    </section>
  </main>
  <footer>
    <h1> copyrigth © 2022 - 
      <a class="text-white" href="#">Restaurant Finder</a></h1>
  </footer>
</body>
</html>
